.corner-logo {
    width: 10% !important; /*Keep the aspect ratio of the image*/
    max-width: 100px;
    height: auto !important;
    left: 0em; /* gravity to the top right corner */
    z-index: 1000;
}
/* This is the upper-most structure and is how I am separating the sections. */
.table {
    display: table;
    width: 100%;
}
/* Each new section is a row. */
.row {
    display: table-row;
    width: 100%;
    height: 100%; /* forces the section to take up a specific amount of space */
    text-align: center;
    position: relative;
}
/* Left half of first section */
.row-left-column {
    background-color: black; /* Janky fix because image was missing about 4 pixels along the bottom and bottom of image is black */
    float:left; 
    display: block;
    width: 50%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
/* Image contained in left half of first section. */
.row-left-column .image {
    width: 100% !important; /*Keep the aspect ratio of the image*/
    object-fit: cover;
    display: flex /* For some strange reason, if I do not include this line, there are 4 pixels between this image and the parents (reguardless of aspect ratio)*/
}
/* Right half of first section. */
.row-right-column {
    padding-top: 100px; /* gives space between task bar and text */
    width: 100%;
    height: 100%;
    text-align: center;
}
/* Div that forces text in right half of first section to float right. */
.float-text-right { /* need internal div wrapper to correctly split screen along with left column */
    width:50%;
    float: right;
}
/* Wrapper of that text that allows it to center within the right half. */
.text-wrapper{ 
    margin:50px;
    position: relative;
    top: 50%;
}
/* Text contained in right half of first section. */
.row-right-column .about-text {
    margin: 1px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
}
/* Header of first section. */
.row-right-column h1 {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
}
/* Line break in first section. */
.row-right-column hr {
    border: 1px solid #e62727
}
/* Right half of second section is actually wrapping left half. */
.second-row-right-column {
    float:right; 
    width: 100%;
    background-color: #facaca;
    height: 100%;
}
.second-row-right-column .text-wrapper{ 
    margin:0px;
    top: 0%;
}
.second-row-right-column .text-wrapper h1 { 
    text-align: right;
    margin: 0;
    padding-top:10px; /* these are needed to match the pane to the left. */
    padding-right:20px;
    letter-spacing: 2px;
    top: 0%;
}
.second-row-right-column .text-wrapper p { 
    text-align: right;
    margin-top: 10px; /* these are needed to match the pane to the left. */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
/* Left half of second section is nested in right half but with half width. */
.second-row-left-column {
    background-color:  #2e2e2e; /*#2e2e2e*/;
    padding-top: 10px; /* gives space between task bar and text */
    padding-bottom: 10px;
    width: 50%;
    height: 100%;
    text-align: center;
}
/* Div wrapper for publication title, author list, venue. */
.row .publication-wrapper {
    font-size: 15px;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}
/* Title of publication. */
.row .publication-wrapper .title {
    color: white;
    margin: 0px;
    margin-top: 10px;
    letter-spacing: 2px;
}
/* Author List of publication. */
.row .publication-wrapper .author-list {
    color:grey;
    margin: 0px;
    letter-spacing: 2px;
}
/* My name bolded in author list. */
.row .publication-wrapper .author-list b {
    color:#00eeff;
    margin: 0px;
    letter-spacing: 2px;
}
/* Vanue of publication. */
.row .publication-wrapper .venue {
    color:grey;
    margin: 0px;
    letter-spacing: 2px;
}
/* Left half of second section title. */
.second-row-left-column h1 {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    padding-left: 20px;
    margin: 0px;
    letter-spacing: 2px;
}

/* responsive column on phones works for any class ending in column */
@media only screen and (max-width: 1190px) {
    [class*="column"] {
      width: 100%;
      float:none;
      display: block;
    }
    .float-text-right {
        width: 100%;
        float:none; 
    }
    .row-left-column {
        background-color: #F2ffe4;
    }
    .row-left-column .image {
        width: 50% !important; 
        height: auto;
        display: flex;
        text-align: center;
        margin:auto; /* center the image once window is too small */
        margin-top: 30px;
    }
    p {
        text-align: left;
    }
    .text-wrapper{ 
        margin:10px;
        position: relative;
        top: 50%;
    }
    .link-bar-wrapper {
        text-align: center;
    }
    .row-right-column {
        padding-top: 5px;
    }
    .row .publication-wrapper {
        margin: 10px;
    }
    .second-row-left-column h1 {
        text-align: center;
        padding-left: 0px;
    }
    /* Move right justified text to left when in mobile. */
    .second-row-right-column .text-wrapper p { 
        text-align: left;
    }
  }
/* Third section. */
.art-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    padding-bottom: 100px;
}
/* Background color of third section. */
#row3 {
    /* background-color: #03fcb1; */
    background: rgb(0,255,23);
    background: linear-gradient(180deg, #03fcb1 0%, rgba(0,243,255,1) 100%);

}
#row3 h1 {
    color: rgb(149, 0, 255);
}

/* Background color of 4th section. */
#row4 {
    /* background-color: #03fcb1; */
    background: rgb(61,0,255);
    background: linear-gradient(180deg, rgba(61,0,255,1) 0%, rgba(255,0,91,1) 100%);

}
#row4 h1 {
    color: rgb(255, 0, 0);
}

/* Images contained in 4th section. */
#row4 .art-gallery-column img {
    margin-top: 20px;
    margin-left: 10px;
    vertical-align: middle;
    width: 30%;
}

/* Background color of 5th section. */
#row5 {
    /* background-color: #03fcb1; */
    background: rgb(255,254,201);
    background: linear-gradient(180deg, rgba(255,254,201,1) 0%, rgba(236,204,250,1) 100%);

}
#row5 h1 {
    color: rgb(38, 0, 255);
}

/* third section title. */
.art-gallery h1 {
    display: block;
    text-align: right;
}
/* Images contained in third section. */
.art-gallery-column img {
    margin-top: 12px;
    margin-left: 12px;
    vertical-align: middle;
    width: 30%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 920px) {
    .art-gallery-column {
      flex: 100%;
    }
  }

header {
    display: flex;
    background-color: #c5d0e8;
    flex-direction: row;
    vertical-align: middle;
    height: 100px;
    justify-content: left;
    align-items: center;
}
header div h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 5px;
}
header div p {
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 3px;
    vertical-align: middle;
    display: inline-block;
}

html { 
    /*overflow-y: scroll; 
    overflow-x:hidden; */
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    /*background-color: #E4E4FF;*/
    background-color: #fcffe4; /*F2ffe4*/
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
div {
    display: block;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0px;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
}




/* LINK TEXT */

a{
color: rgb(117, 0, 252); /*rgb(201, 159, 248)*/
background-color: #00000000;

}
a:visited{
text-decoration: none;
}
a:link{
text-decoration: none;
}
a:hover{
text-decoration: none;
color: #00ffc3; /*#B2D4CC*/
}
a:active{
text-decoration: none;
}