/* The first in the order here is the default */
:root,
    :root.wire_frame {
        --const-bg-color: rgb(252, 243, 213);
        --const-text-color: #0004ff;
        --const-highlight-color: #10fff3;

        /* Background colors in Dark mode */
        --bg-color: var(--const-bg-color);
        --interests-bg-color: var(--const-bg-color);
        --headshot-bg-color: var(--const-bg-color);
        --research-bg-color: var(--const-bg-color);
        --grad1-top-color: var(--const-bg-color);/*rgb(165, 191, 222);*/
        --grad1-bottom-color: var(--const-text-color);
        --grad2-top-color: var(--const-text-color);
        --grad2-bottom-color: var(--const-bg-color);
        --grad3-top-color: var(--const-bg-color);
        --grad3-bottom-color: var(--const-text-color);
        
        /* text colors in dark mode */
        --text-color-primary: var(--const-text-color);
        --text-color-alternate-primary: var(--const-text-color);
        --text-color-secondary: var(--const-text-color);
        --text-color-ternary: var(--const-text-color);
        --text-color-link: var(--const-text-color);
        --text-color-highlight: var(--const-highlight-color);

        --research-h1-color: var(--const-text-color);
        --grad1-h1-color: var(--const-text-color);
        --grad2-h1-color: var(--const-text-color);
        --grad3-h1-color: var(--const-text-color);

        --hr-color: var(--const-text-color);
    }
    :root.blue {
        --const-bg-color:#0004ff;
        --const-text-color: rgb(252, 243, 213);
        --const-highlight-color: #f7ff10;

        /* Background colors in Dark mode */
        --bg-color: var(--const-bg-color);
        --interests-bg-color: var(--const-bg-color);
        --headshot-bg-color: var(--const-bg-color);
        --research-bg-color: var(--const-bg-color);
        --grad1-top-color: var(--const-bg-color);/*rgb(165, 191, 222);*/
        --grad1-bottom-color: var(--const-text-color);
        --grad2-top-color: var(--const-text-color);
        --grad2-bottom-color: var(--const-bg-color);
        --grad3-top-color: var(--const-bg-color);
        --grad3-bottom-color: var(--const-text-color);
        
        /* text colors in dark mode */
        --text-color-primary: var(--const-text-color);
        --text-color-alternate-primary: var(--const-text-color);
        --text-color-secondary: var(--const-text-color);
        --text-color-ternary: var(--const-text-color);
        --text-color-link: var(--const-text-color);
        --text-color-highlight: var(--const-highlight-color);

        --research-h1-color: var(--const-text-color);
        --grad1-h1-color: var(--const-text-color);
        --grad2-h1-color: var(--const-text-color);
        --grad3-h1-color: var(--const-text-color);

        --hr-color: var(--const-text-color);
    }
    :root.otter {
        --const-bg-color:#352621;
        --const-text-color: rgb(222, 179, 252);
        --const-highlight-color: #ff0000;

        /* Background colors in Dark mode */
        --bg-color: var(--const-bg-color);
        --interests-bg-color: var(--const-bg-color);
        --headshot-bg-color: var(--const-bg-color);
        --research-bg-color: var(--const-bg-color);
        --grad1-top-color: var(--const-bg-color);/*rgb(165, 191, 222);*/
        --grad1-bottom-color: var(--const-text-color);
        --grad2-top-color: var(--const-text-color);
        --grad2-bottom-color: var(--const-bg-color);
        --grad3-top-color: var(--const-bg-color);
        --grad3-bottom-color: var(--const-text-color);
        
        /* text colors in dark mode */
        --text-color-primary: var(--const-text-color);
        --text-color-alternate-primary: var(--const-text-color);
        --text-color-secondary: var(--const-text-color);
        --text-color-ternary: var(--const-text-color);
        --text-color-link: var(--const-text-color);
        --text-color-highlight: var(--const-highlight-color);

        --research-h1-color: var(--const-text-color);
        --grad1-h1-color: var(--const-text-color);
        --grad2-h1-color: var(--const-text-color);
        --grad3-h1-color: var(--const-text-color);

        --hr-color: var(--const-text-color);
    }
    :root.urara {
        --const-bg-color: rgb(247, 210, 255);
        --const-text-color: #0000ff;
        --const-secondary-text-color: #ff003c;


        /* Background colors in Dark mode */
        --bg-color: var(--const-bg-color);
        --interests-bg-color: var(--const-text-color);
        --headshot-bg-color: var(--const-bg-color);
        --research-bg-color: var(--const-bg-color);
        --grad1-top-color: var(--const-text-color);/*rgb(165, 191, 222);*/
        --grad1-bottom-color: var(--const-text-color);
        --grad2-top-color: var(--const-text-color);
        --grad2-bottom-color: var(--const-text-color);
        --grad3-top-color: var(--const-text-color);
        --grad3-bottom-color: var(--const-text-color);
        
        /* text colors in dark mode */
        --text-color-primary: var(--const-secondary-text-color);
        --text-color-alternate-primary: var(--const-secondary-text-color);
        --text-color-secondary: var(--const-secondary-text-color);
        --text-color-ternary: var(--const-secondary-text-color);
        --text-color-link: var(--const-secondary-text-color);
        --text-color-highlight: var(--const-text-color);

        --research-h1-color: var(--const-text-color);
        --grad1-h1-color: var(--const-bg-color);
        --grad2-h1-color: var(--const-bg-color);
        --grad3-h1-color: var(--const-bg-color);

        --hr-color: var(--const-text-color);
    }
    :root.forest {
        --const-bg-color: rgb(0, 67, 7);
        --const-text-color: #ff5e00;
        --const-highlight-color: #10ff4c;

        /* Background colors in Dark mode */
        --bg-color: var(--const-bg-color);
        --interests-bg-color: var(--const-bg-color);
        --headshot-bg-color: var(--const-bg-color);
        --research-bg-color: var(--const-bg-color);
        --grad1-top-color: var(--const-bg-color);/*rgb(165, 191, 222);*/
        --grad1-bottom-color: var(--const-text-color);
        --grad2-top-color: var(--const-text-color);
        --grad2-bottom-color: var(--const-bg-color);
        --grad3-top-color: var(--const-bg-color);
        --grad3-bottom-color: var(--const-text-color);
        
        /* text colors in dark mode */
        --text-color-primary: var(--const-text-color);
        --text-color-alternate-primary: var(--const-text-color);
        --text-color-secondary: var(--const-text-color);
        --text-color-ternary: var(--const-text-color);
        --text-color-link: var(--const-text-color);
        --text-color-highlight: var(--const-highlight-color);

        --research-h1-color: var(--const-text-color);
        --grad1-h1-color: var(--const-text-color);
        --grad2-h1-color: var(--const-text-color);
        --grad3-h1-color: var(--const-text-color);

        --hr-color: var(--const-text-color);
        }
    :root.original {
        /* Background colors in light mode */
        --bg-color: #fcffe4;
        --interests-bg-color: #ffe3d8;
        --headshot-bg-color: #fcffe4;
        --research-bg-color: #2e2e2e;
        --grad1-top-color: #03fcb1;
        --grad1-bottom-color: rgba(0,243,255,1);
        --grad2-top-color: rgba(61,0,255,1);
        --grad2-bottom-color: rgba(255,0,91,1);
        --grad3-top-color: rgba(255,254,201,1);
        --grad3-bottom-color: rgba(236,204,250,1);

        /* Text colors in light mode */
        --text-color-primary: #123;
        --text-color-alternate-primary: #123;
        --text-color-secondary: white;
        --text-color-ternary: grey;
        --text-color-link: rgb(117, 0, 252);
        --text-color-highlight: #00eeff;

        --research-h1-color: white;
        --grad1-h1-color: rgb(149, 0, 255);
        --grad2-h1-color:  rgb(255, 0, 0);
        --grad3-h1-color: rgb(38, 0, 255);

        --hr-color: #e62727;
    }

    :root.zawada {
        /* Background colors in light mode */
        --bg-color: #0000ff;
        --interests-bg-color: #cda5ff;
        --headshot-bg-color: #ffffc6;
        --research-bg-color: #135f00;
        --grad1-top-color: #03fcb1;
        --grad1-bottom-color: rgba(0,243,255,1);
        --grad2-top-color: rgba(61,0,255,1);
        --grad2-bottom-color: rgba(255,0,91,1);
        --grad3-top-color: rgba(255,254,201,1);
        --grad3-bottom-color: rgba(236,204,250,1);
    
        /* Text colors in light mode */
        --text-color-primary: rgb(251, 255, 0);
        --text-color-alternate-primary: rgb(251, 255, 0);
        --text-color-secondary: rgb(255, 166, 0);
        --text-color-ternary: rgb(251, 255, 0);
        --text-color-link: rgb(0, 252, 46);
        --text-color-highlight: #ff0000;
    
        --research-h1-color: white;
        --grad1-h1-color: rgb(149, 0, 255);
        --grad2-h1-color:  rgb(255, 0, 0);
        --grad3-h1-color: rgb(38, 0, 255);
    
        --hr-color: #e62727;
    }

    .theme-btn {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: var(--const-text-color);
        }
        .theme-btn img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        transition: 0.3s;
        background-color: transparent;
        overflow: auto;
        z-index: 100;
    }

    .navbar.scrolled {
        background-color: var(--const-bg-color);
    }

    /* Add horizontal lines to the top and bottom of the navbar when it has the scrolled class */
    .navbar.scrolled::before,
    .navbar.scrolled::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--text-color-primary); /* Adjust color as needed */
        z-index: 10; /* Ensure it appears above the navbar background */
    }

    .navbar.scrolled::before {
        top: 0;
    }

    .navbar.scrolled::after {
        bottom: 0;
    }


    .navbar a {
        float: right;
        display: block;
        color: var(--const-text-color);
        text-align: center;
        padding: 25px 16px 25px 16px;  /* Manually centered bottoms in navbar */
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
        letter-spacing: 2px;
    }

    .navbar a:hover {
        background-color: var(--const-text-color);
        color: var(--const-bg-color);
    }

    .fade-in {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
   
    /* Music Doodad */
    .active {
        background-color: var(--const-text-color);
      }
      #grid-container {
        display:none;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        background-color:var(--const-bg-color);
        padding:20px;
        border-radius:20px;
        z-index:999;
      }
      
      #grid {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(600px + (5px * 16)); /* Additional space for the margins */
        height: calc(600px + (5px * 16));
        padding: 2.5px; /* Half of the space to evenly distribute the boxes */
        /*box-shadow: 10px 10px 15px 10px rgb(37 18 211 / 97%); */
      }

      .custom-slider {
        /* Remove default styling */
        -webkit-appearance: none;
        appearance: none;
        width: 10%; /* Make it the width of its container */
        height: 1px; /* Horizontal line thickness */
        background-color: var(--const-text-color); /* Horizontal line color */
        position: relative;
      }
      
      .custom-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 15px; /* Height of the vertical indicator */
        width: 1px; /* Width of the vertical indicator */
        background-color: var(--const-text-color); /* Vertical line color */
        cursor: pointer;
        margin-top: 0px; /* Center the line on the horizontal */
      }
      .custom-slider::-moz-range-thumb {
        width: 1px;
        height: 15px; /* Height of the vertical indicator */
        background-color: var(--const-text-color);
        cursor: pointer;
        margin-top: 0px;
      }
      
      
      .gridrow {
        display: flex;
        justify-content: center;
        width: 100%;
        height: calc(100% / 16);
      }
      
      .gridrow > div {
        flex: 1;
        border: 4px solid var(--const-text-color);
        display: inline-block;
        flex-basis: calc(100% / 16);
        box-sizing: border-box;
        transition: background-color 0.3s;
        border-radius: 5px;
        margin: 2.5px; /* Half of the total space around each box */
      }
      
      .gridrow > div.active {
        background-color: var(--const-text-color);
      }
      
      .gridrow > div:hover {
        cursor: pointer;
        background-color: var(--const-text-color);
        opacity: 0.47;
      }

.toggle-container {
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    padding: 14px 16px;
}
.corner-logo {
    width: 10% !important; /*Keep the aspect ratio of the image*/
    max-width: 100px;
    height: auto !important;
    left: 0em; /* gravity to the top right corner */
    z-index: 1000;
}
/* This is the upper-most structure and is how I am separating the sections. */
.table {
    display: table;
    width: 100%;
}

.bg-primary {
    background-color: var(--grad3-bottom-color);
}

p {
    font-weight: 200;
}
/* Each new section is a row. */
.row {
    display: table-row;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

b {
    letter-spacing: 1px;
    font-weight: 600;
}



/* Add a vertical line to .row that splits into two halves 
.split-row::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: var(--text-color-primary);
    z-index: 10;
}
*/

.column-divider  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: var(--text-color-primary); /* Adjust color as needed */
    z-index: 10; /* Make sure it appears above other content */
}

.row-divider {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--text-color-primary);
    z-index: 10; /* Make sure it appears above other content */
}

/* Add a horizontal line at the split point of each row 
.row::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--text-color-primary);
    z-index: 10; 
}
*/

.split-row::after {
    display: flex;       /* Enable flexbox on the parent */
    height: auto;
}

/* Left half of first section */
.row-left-column {
    background-color: var(--interests-bg-color); /* Janky fix because image was missing about 4 pixels along the bottom and bottom of image is black */
    float:left; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 50%;
    height: 100%;
    object-fit: contain;
    align-items: center;          /* Vertically center */
    overflow: hidden;
}
/* Image container wrapper to keep name and image together. */
.row-left-column .img-container {
    width: 100% !important; /*Keep the aspect ratio of the image*/
    object-fit: cover;
    position: relative; /* required to have name float over image */
    text-align: center;
    justify-content: center;      /* Horizontally center */
    align-items: center;          /* Vertically center */
    overflow: hidden;             /* Hide overflow if the image is larger */
    /* This will place the image in a buffered box so it does not fill the left column.
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid var(--bg-color);
    text-align: center;
    margin:auto;
    */
    display: flex /* For some strange reason, if I do not include this line, there are 4 pixels between this image and the parents (reguardless of aspect ratio)*/
}
/* Image contained in left half of first section. */
.row-left-column .image {
    width: 100% !important; /*Keep the aspect ratio of the image*/
    object-fit: cover;
    display: flex;
    text-align: center;
    margin:auto; /* center the image once window is too small */
    display: flex /* For some strange reason, if I do not include this line, there are 4 pixels between this image and the parents (reguardless of aspect ratio)*/
}
.row-left-column .my-name {
    color: #0000ff;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Hide my name until I am in mobile view */
}
/* Right half of first section. */
.row-right-column {
    padding-top: 100px; /* gives space between task bar and text */
    width:50%; /* Places right column to be 50% */
    float: right; /* and keeps it on the right side */
    height: 100%;
    text-align: center;
    display: flex;
}

/* Wrapper of that text that allows it to center within the right half. */
.text-wrapper{ 
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    top: 50%;
}

.announcement {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.3px;
    background-color: var(--text-color-primary);
    color: var(--const-bg-color);
}

.news {
    margin: 1px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif; /*'Nunito Sans', Noto Sans HK*/
    letter-spacing: 1.3px;
    font-weight: 200;
}

.news ul {
    height: 100px;            /* Set a fixed height for the ul */
    border: 1px solid var(--hr-color);
    overflow-y: scroll;       /* Enable vertical scrolling */
    scrollbar-width: none;    /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}
 
.news ul::-webkit-scrollbar {
    display: none;            /* Hide scrollbar in Chrome, Safari, and Opera */
}

/* Text contained in right half of first section. */
.row-right-column .about-text {
    margin: 1px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    font-family: "Nunito Sans", Helvetica, Arial, sans-serif; /*'Nunito Sans', Noto Sans HK*/
    letter-spacing: 1.3px;
}
/* Header of first section. */
.row-right-column h1 {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1.3px;
}
/* Line break in first section. */
.row-right-column hr {
    border: 1px solid var(--hr-color)
}
/* Line break in second section. */
.second-row-right-column hr {
    border: 1px solid var(--hr-color);
    margin-top: 25px;
}
/* Right half of second section is actually wrapping left half. */
.second-row-right-column {
    float:right; 
    width:50%;
    float: right;
    background-color: var(--interests-bg-color); /*#facaca;*/
    height: 100%;
}
/* shorter side needs to be the same color as the row it is nested in. */ 
#row2 {
    background-color: var(--interests-bg-color); /*#facaca;*/
}
.second-row-right-column .text-wrapper{ 
    color: var(--text-color-alternate-primary);
    /*
    margin:0px;
    top: 0%;
    */
}
.second-row-right-column .text-wrapper h1 { 
    text-align: right;
    margin: 0;
    padding-top:10px; /* these are needed to match the pane to the left. */
    padding-right:20px;
    letter-spacing: 1.3px;
    top: 0%;
}
.second-row-right-column .text-wrapper p { 
    text-align: justify;
    margin-top: 10px; /* these are needed to match the pane to the left. */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    letter-spacing: 1.3px;
}
/* Left half of second section is nested in right half but with half width. */
.second-row-left-column {
    background-color:  var(--research-bg-color); /*#2e2e2e*/;
    padding-top: 10px; /* gives space between task bar and text */
    padding-bottom: 10px;
    width: 50%;
    height: 100%;
    text-align: center;
}
/* Div wrapper for publication title, author list, venue. */
.row .publication-wrapper {
    font-size: 15px;
    letter-spacing: 1.3px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

hr {
    border: 1px solid var(--hr-color);
}
/* Title of publication. */
.row .publication-wrapper .title {
    color: var(--text-color-secondary);
    margin: 0px;
    margin-top: 10px;
    letter-spacing: 1px; 
    font-weight: 400;
}
/* Author List of publication. */
.row .publication-wrapper .author-list {
    color: var(--text-color-ternary);
    margin: 0px;
    letter-spacing: 1.3px;
}

/* My name bolded in author list. */
.row .publication-wrapper .author-list b {
    color: var(--bg-color);
    background-color: var(--text-color-ternary);
    margin: 0px;
    letter-spacing: 1px;
    font-weight: 600;
}
/* Vanue of publication. */
.row .publication-wrapper .venue {
    color: var(--text-color-ternary);
    margin: 0px;
    letter-spacing: 1px;
}
/* Left half of second section title. */
.second-row-left-column h1 {
    color: var(--research-h1-color);
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    padding-left: 20px;
    margin: 0px;
    letter-spacing: 1px;
}

/* Add hover images to my publications */
.hover-image {
    position: absolute;
    display: none;
    pointer-events: none; /* This makes sure the image won't interfere with mouse actions */
    z-index: 1000; /* Ensures the image is above other elements */
  }
  
.hover-image img {
    width: 400px; /* Set the size of the image */
    height: auto;
}

/* responsive column on phones works for any class ending in column */
@media only screen and (max-width: 1290px) { /*1237px?*/
    [class*="column"] {
      width: 100%;
      float:none;
      display: block;
    }

    /* remove the easter egg toggles and squencer in mobile. */
    .toggle-container {
        display: none;
    }
    /* Remove all split row modifers when they are compressed in vertical mode. */
    .split-row::after {
        display: none;
    }
    .row-left-column .my-name {
        display: none; /* make name visible again */
        position: absolute;
        top: 25px;
        margin: 0;
        font-size: 80px;
    }

    .column-divider {
        display: none;
    }
    
    .row-left-column {
        padding-top: 10%;
        background-color: var(--headshot-bg-color);
    }
    .row-right-column {
        padding-bottom: 10px; /* necessary otherwise theres a small buffer of background color? */
    }
    .row-right-column hr {
        border: 1px solid var(--grad3-bottom-color)
    }
    .row-left-column .image {
        width: 50% !important; 
        height: auto;
        display: flex;
        text-align: center;
        margin:auto; /* center the image once window is too small */
        margin-top: 30px;
        margin-bottom: 30px;
        border: 5px solid var(--text-color-secondary);
    }
    p {
        text-align: left;
        
    }
    .text-wrapper{ 
        margin:20px;
        position: relative;
        top: 50%;
    }

    .link-bar-wrapper {
        text-align: center;
    }
    .row-right-column {
        padding-top: 5px;
    }
    .row .publication-wrapper {
        margin: 20px;
    }
    .second-row-left-column {
        padding-bottom: 10px; /* necessary otherwise theres a small buffer of background color? */
    }
    .second-row-right-column {
        padding-bottom: 10px; /* necessary otherwise theres a small buffer of background color? */
    }
    
    .second-row-right-column .text-wrapper h1 {
        text-align: center;
        padding-left: 0px;
    }
    .second-row-left-column h1 {
        text-align: center;
        padding-left: 0px;
    }
    /* Move right justified text to left when in mobile. */
    .second-row-right-column .text-wrapper p { 
        text-align: left;
    }
  }
/* Third section. */
.art-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
    padding-bottom: 120px;
    padding-top: 100px;
}
/* Background color of third section. */
#row3 {
    /* background-color: #03fcb1; */
    background: rgb(0,255,23);
    background: linear-gradient(180deg, var(--grad1-top-color) 0%, var(--grad1-bottom-color) 100%);

}
#row3 h1 {
    color: var(--grad1-h1-color);
}

/* Background color of 4th section. */
#row4 {
    /* background-color: #03fcb1; */
    background: rgb(61,0,255);
    background: linear-gradient(180deg, var(--grad2-top-color) 0%, var(--grad2-bottom-color) 100%); /* rgba(61,0,255,1), rgba(255,0,91,1) */ 

}
#row4 h1 {
    color: var(--grad2-h1-color);
}

/* Images contained in 4th section. */
#row4 .art-gallery-column img {
    margin-top: 20px;
    margin-left: 10px;
    vertical-align: middle;
    width: 30%;
}

/* Background color of 5th section. */
#row5 {
    /* background-color: #03fcb1; */
    background: rgb(255,254,201);
    background: linear-gradient(180deg, var(--grad3-top-color) 0%, var(--grad3-bottom-color) 100%);

}
#row5 h1 {
    color: var(--grad3-h1-color);
}

/* third section title. */
.art-gallery h1 {
    display: block;
    text-align:right;
}
/* Images contained in third section. */
.art-gallery-column img {
    margin-top: 12px;
    margin-left: 12px;
    vertical-align: middle;
    width: 30%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 920px) {
    .art-gallery-column {
      flex: 100%;
    }
  }

header {
    display: flex;
    background-color: #c5d0e8;
    flex-direction: row;
    vertical-align: middle;
    height: 100px;
    justify-content: left;
    align-items: center;
}
header div h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 5px;
}
header div p {
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 1.3px;
    vertical-align: middle;
    display: inline-block;
}

html { 
    /*overflow-y: scroll; 
    overflow-x:hidden; */
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    /*background-color: #E4E4FF;*/
    color: var(--text-color-primary);
    background-color: var(--bg-color); /*F2ffe4*/
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}
div {
    display: block;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0px;
}
h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3em;
}




/* LINK TEXT */

a{
color: var(--text-color-link); /*rgb(201, 159, 248)*/
background-color: #00000000;
font-weight: 600;

}
a:visited{
text-decoration: none;
}
a:link{
text-decoration: none;
}
a:hover{
text-decoration: none;
color: var(--text-color-highlight) /*#B2D4CC*/
}
a:active{
text-decoration: none;
}

.flex-container {
    display: flex;
}

.box {
    flex: 1; /* equally spaced boxes */
}

.checker-bg-alternate {
    background-color: var(--research-bg-color); /* replace with your desired color */
}
.checker-bg-primary {
    background-color: var(--interests-bg-color); /* replace with your desired color */
}