/* ---- reset ---- */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(38, 71, 90);
  color: rgb(251, 255, 211);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  font-family: "Raleway", sans-serif;
	font-size: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

body {
  margin: 0;
  padding: 0;
  background-color: #17182f;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.topbar {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
	font-size: 16px;
  letter-spacing: 0px;
  padding: .5em;
}

div {
  display: block;
}

canvas {
  display: block;
  z-index: -1;
}

/* favicons and barrier buffers between */
a {
  color: rgb(201, 159, 248);
}
a:visited{
  color: rgb(201, 159, 248);
  text-decoration: none;
}
a:link{
  color: rgb(201, 159, 248);
  text-decoration: none;
}
a:hover{
  color: darkturquoise;
  text-decoration: none;
}
a:active{
  color: rgb(201, 159, 248);
  text-decoration: none;
}
/*
.link{
	color: black;
}
*/

.blacklinks:link{
  color: black;
}
.blacklinks:visited{
  color: black;
  text-decoration: none;
}
.blacklinks:a {
  color: black;
}
.blacklinks:hover{
  color: darkturquoise;
  text-decoration: none;
}
/*
.blacklinks:active{
  color: black;
  text-decoration: none;
}
*/

.links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#barrier {
  margin-right: 10px;
  margin-left: 10px;
}
#topbarrier {
  margin-right: 2px;
  margin-left: 2px;
}

/* general text */

p {
  z-index: 2;
  color: black;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
}
li {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.linktext {
  color: #000;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}
.linktext:hover{
  color: darkturquoise;
  text-decoration: none;
}

.bodytext {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.centerbox {
  background-color: #EAF5EF;
  background-color: #EFFEFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  margin: 0px auto;
  /*margin-top: 20%;*/
  padding: 30px;
  display: block;
}

.centerbox#pubs {
  width: 50%;
}

.propic {
  width: auto !important; /*Keep the aspect ratio of the image*/
  height: 140px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pubs ul {
  padding: 10;
}

#inline {
  display: inline;
}
#inlinelinks {
  text-align: center;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

hr {
  width: 100%;
  color: black;
  border-style: double;
}